@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.paragraph-header{
    font-size: 1.8vw;
    font-weight: bold;
    margin-left: 9vw;
    display: flex;
    align-items: center;
}
nav{
    margin-right: 8vw;
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    padding-right: 2vw;
    font-size: 1vw;
}
ul{
    display: flex;
}
li:hover{
    cursor: pointer;
    font-weight: bold;
}
