@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.paragraph-header{
    font-size: 1.8vw;
    font-weight: bold;
    margin-left: 9vw;
    display: flex;
    align-items: center;
}
nav{
    margin-right: 8vw;
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    padding-right: 2vw;
    font-size: 1vw;
}
ul{
    display: flex;
}
li:hover{
    cursor: pointer;
    font-weight: bold;
}
.coluna-1{
    margin-left: 140px;
    margin-right: 4px;
}
.coluna-2{
    margin-right: 4px;
}
.coluna-3{
    margin-right: 4px;
}
.coluna-4{
    margin-right: 140px;
}
.produtos{
    padding-top: 5%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.img-produtos{
    margin-left: 4px;
    width: 100%;
}
footer{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: #F6F6F6;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 9rem;
}
.p1-footer{
    font-weight: bold;
    margin-right: 5%;
    margin-left: 3%;
    font-size: 12px;
}
.icon{
    width: 25px;
}
.icon-face{
    width: 12px;
}
.apresentacao{
    display: flex;
    align-items: center;
    background-image: url("Imagens/laranja\ azul\ recorte.png");
    height: 80vh;
    background-size: cover;
    background-position: 60%;
}
.text-apresentacao{
    width: 70%;
    height: 30%;
    margin-left: 120px;
    color: #fff;
}
h1{
    font-size: 3.5em;
    margin-bottom: 2%;
}
.contato{
    font-size: 1.5em;
    font-weight: 300;
}
.text-footer{
    display: flex;
    width: 45%;
    height: 100%;
    margin-left: 5rem;
    align-items: center;
}
.p2-footer{
    font-size: 8px;
}